body{
    background-color: #232323;
}
.square{
    background-color: blue;
    width: 30%;
    padding-top: 30%;
    margin: 1.66%;
    float: left;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}
h1{
    color: white;
    margin: 0em;
    padding: 0em;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}